{% extends "auctions/layout.html" %}

{% block body %}
    <section class="active-listings">
        <div class="container">
            <h2 class="mt-4 mb-4">Active Listings from {{ category }}</h2>
            <div class="row">
                {% for listing in listings %}
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            {% if listing.image %}
                                <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'listing' listing.pk %}" class="text-dark">{{ listing.title }}</a></h5>
                                <p class="card-text">{{ listing.description }}</p>
                                <p class="card-text"><strong>Current Price:</strong> {{ listing.price }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
